body{
    font-family: Tahoma;
    background: #B0E0E6;
    margin: 0;
    background-image: url(https://thumbs.dreamstime.com/z/clean-abstract-background-web-design-concept-49177954.jpg);
}
button{
    position: absolute;
    top: 450px;
    cursor: pointer;
    padding: 10px 20px;
    height: 40px;
    border: none;
    text-transform: uppercase;
    font-size: 15px;
    box-shadow: 2px 2px 5px rgba(0,0,82);
}
button:hover{
background:#0000ff; 
}
p{
    margin-top: 16px;
    margin-bottom: 19px;
}
nav{
  width:960px;
  margin: 0 auto;
}

nav:before{
  content:'';
  display:block;
  height:50px;
  width:100%;
  background:#000;
  position:absolute;
  left:0;
  z-index:-1;
}
ul{
  margin:0;
  padding:0;
  list-style:none;
  height:70px;
}
ul li{
  float:left;
}
ul li a{
  color:#fff;
  display:block;
  height:50px;
  padding:0 85px;
  text-transform:uppercase;
  text-decoration:none;
  line-height:50px;
    font-size: 16px;
}
ul li a:hover{
  background:#0000ff;
    text-decoration:none;
    color: aliceblue;
}
.form-group{
    width: 500px;
    position: relative;
    left: 360px;
}